html, body {
    width: 100%;
    height: 100%;
    font-family: "adelle-sans", sans-serif;
    margin: 0px;
    background-color: #F2F2F2;
}

/*main*/

.topbar {
    width: 100%;
    height: 45px;
    background-color: #262626;
    margin: 0;
}
.display {
    width: 100%;
    height: auto-height;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/* selection bar */

.menubar {
    width: 100%;
    height: 85px;
    position: relative;
    padding-top: 28px;
    background-color: #2C2C2C;
    margin: 0px;
}
.menu {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    position: relative;
    color: #2C2C2C;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.menu-left {
    flex-grow: 1;
    width: 50%;
    height: 100%;
}
.logo {
    height: 28px;
    width: 190px;
    margin: 0;
    padding: 0;
    color: #e8ca14;
    font-size: 30px;
    font-family: orbitron;
    /*background-image: url("../../assets/images/logo-observepoint-desktop.png")*/
}
.menu-right {
    flex-grow: 1;
    width: 50%;
    height: 100%;
}
.menu-input-holder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.menu-input {
    flex-grow: 2;
    width: 90%;
    height: 100%;
}
.menu-input-type {
    float: right;
    margin-right: 21px;
    width: 60%;
    height: 100%;
}
.btns, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"]  {
    color: rgba(0,0,0,0.8);
    height: auto;
    line-height: .95;
    padding: 11px 25px;
    font-style: normal;
    text-transform: uppercase;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    background: #e8ca14;
    border-radius: 2px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.form-control {
    padding: 0.85rem 1rem !important;
    height: auto;
    line-height: 1.3;
    background-color: #2c2c2c;
    border-color: #e8ca14;
    font-size: 14px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.menu-input-copypaste {
    float: right;
    margin-right: 21.5px;
    width: 60%;
    height: 100%;
}
.textbox {
    display: inline-block;
    position: relative;
    width: 100%;
}
.textbtn {
    position: absolute;
    top: 0px;
    right: 111px;
    z-index:20;
}
input[type="file"] {
    display: none;
}
.uploader {
    float: right;
    cursor: pointer;
}
.menu-selector {
    margin: 5px auto;
}
.menu-selector a{
    text-decoration: none;
    cursor: pointer;
    color: #e8ca14;
}
.dropdown-menu {
    background-color: #D9D9D9;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    cursor: pointer;
    background-color: #2C2C2C;
    color: #e8ca14;
}
.loadinggif {
    margin: 4px auto;
}

/*sidebar*/

.sidebar {
    flex-grow: 1;
    align-self: flex-start;
    min-width: 250px;
    width: 250px;
    height: 100%;
    margin: 0px;
    padding: 10px;
}
.site-analyzed {
    cursor: pointer;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.code-toggle {
    width: 20px;
    padding-left: 8px;
}
.url-name {
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e8ca14;
}
.content-type {
    font-weight: bold;
    text-align: center;
}
.g-stats {
    width: 100%;
}
.g-main {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.g-main p {
    margin: 3px;
    font-size: 10px;
}
.g-main h1 {
    margin: 3px;
    font-size: 16px;
    font-weight: 400;
}
.g-main-panel {
    align-self: flex-start;
    background-color: rgba(44, 44, 44, .8);
    color: rgba(232, 202, 20, .9);
    width: 44%;
    height: 50px;
    margin: 2%;
    padding: 3px 1px;
}
.g-group {
    background-color: #e8ca14;
    color: #2C2C2C;
}
.g-other {
    width: 100%;
    height: 100%;
}
.g-other-panel {
    margin: 5px 0 0 10px;
}
.g-other p{
    margin: 3px;
    font-size: 10px;
}
.g-selections {
    width: 100%;
    margin: 10px 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: flex-direction;
    flex-flow: flex-direction;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.g-selections-title {
    width: 100%;
    height: 100%;
    margin-left: 4px;
}
.g-selections a{
    cursor: pointer;
    text-decoration: none;
    color: #2C2C2C;
}
.g-selections a:hover{
    color: black;
    font-weight: bold;
}
.g-selections h1 {
    margin: 10px 2px;
    padding-left: 2px;
    font-size: 13px;
}
.g-selections h3 {
    margin: 8px 6px 8px 3px;
    padding-left: 5px;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 2px solid #e8ca14;
    display:inline;
}
.g-selections p {
    margin: 3px 10px 3px 3px;
    padding-left: 8px;
    font-size: 10px;
}
.filters-selections {
    width: 100%;
    height: 100%;
}
.har-bubble-display {
    flex-grow: 1;
    align-self: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.loading-message {
    width: 100%;
    height: 30px;
    margin: 5px auto;
    padding-top: 5px;
    text-align: center;
}
.loading-message p {
    font-size: 18px;
    font-weight: 500;
    color: #2C2C2C;
}
.inner-bubble-display {
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: flex-direction;
    flex-flow: flex-direction;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}
.code-view {
    align-self: flex-start;
    padding: 15px;
    width: 100%;
    height: 100%;
}
.code-view pre{
    background-color: background-color: #F2F2F2;
    font-size: 11px;
    border: none;
}
/*bubble-display*/
.bubble-chart {
    align-self: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.bubble-chart a{
    color: #e8ca14 !important;
}
.bubble {
    display: block;
    margin: 0 auto;
}

/* dashboardBubbleChart */

.bubble-chart text{
    font: 10px sans-serif;
    color: #262626;
}

/* dashbaordBarChart */

.g-stats-chart {
    /* position: relative;*/
    margin: 12px 6px 0px;
    width: 100%;
    height: 100%;
    font-size: 10px;
    display: block;
}
.bar-chart {
    /* position: relative;*/
    margin: 0 auto;
    display: block;
}
.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: rgba(44, 44, 44, .8);
}
.bar:hover {
    fill: rgba(232, 202, 20, .9)
}
.x.axis path {
    display: none;
}



