@(message: String)(data: String)
@import helper._



    <div class="topbar"></div>
    <div class="menubar">
        <div class="menu">
            <div class="menu-left">
                <div class="logo"><em>Capture</em></div>
            </div>
            <div class="menu-right">
                <div class="menu-input-holder">
                    <div class="menu-input">
                            <!-- File Uploader -->
                        <div class="menu-input-type">
<!--                             <div class="fileUpload btn btn-primary pull-right">
                                <span>Upload .har File</span>
                                <input type="file" class="upload" name="name" text="text" />
                            </div> -->
                            @form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
                                <div class="fileUpload btn btn-primary pull-right">
                                    <span>Upload .har File</span>
                                    <input type="file" name="har" class="upload">
                                    <p>
                                        <input type="submit">
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @data
    </div>


